@import 'semantic-ui-css/semantic.min.css';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #05ab77;
    
}

.header-princ{
    width: 100%;
    height: 100px;
    background-color: #D72638;
}

.title-header{
    color: #ffff;
    text-align: center;
    line-height: 90px;
}

.img-receta{
    display:block;
    margin:0 auto;
    height: 180px;
    width: 280px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }