---
import './../../public/styles.css'
---

<div class="ui card">
    <a class="image" href="/receta1">
      <img src="/img/ensalada.jpg">
    </a>
    <div class="content">
      <a class="header" href="/receta1">Ensalada de Manzana</a>
      <div class="meta">
        <a>conocer receta..</a>
      </div>
    </div>
  </div>

  <div class="ui card">
    <a class="image" href="/receta2">
      <img src="/img/pavo.jpg">
    </a>
    <div class="content">
      <a class="header" href="/receta2">Pavo relleno</a>
      <div class="meta">
        <a>conocer receta..</a>
      </div>
    </div>
  </div>

  <div class="ui card">
    <a class="image" href="/receta3">
      <img src="/img/ponche.jpg">
    </a>
    <div class="content">
      <a class="header" href="/receta3">Ponche Navideño</a>
      <div class="meta">
        <a>conocer receta..</a>
      </div>
    </div>
  </div>

  <div class="ui card">
    <a class="image" href="/receta4">
      <img src="/img/pozole.jpg">
    </a>
    <div class="content">
      <a class="header" href="/receta4">Pozole</a>
      <div class="meta">
        <a>conocer receta..</a>
      </div>
    </div>
  </div>